<h1>Status Test</h1>

<p>Give a 'status' param in the URL to get a particular status back.</p>

<a href="<%= statuses_path(status: 201) %>">Example: Status 201</a>
<br/>
<a href="<%= statuses_path(status: 404) %>">Example: Status 404</a>
